@import "tailwindcss";

.divebgimg{
  background-image: url(../public/diveimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

body{
  background-color: black;
  color: white;
}

.cyber-wrapper {
    position: relative;
    padding: 40px;
}

/* corner shapes */
.cyber-wrapper::before,
.cyber-wrapper::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 5px solid orange;   /* Color change as needed */
}


